<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="ChromeTest">
    <classes>
      <class name="com.Testng1.TCS001"/>
    </classes>
     </test> <!-- ChromeTest --> 
  <test name="FirefoxTest">
    <classes>
      <class name="com.Testng1.TCS002"/>
    </classes>
     </test> <!-- ChromeTest -->
</suite> <!-- Suite -->
